.edit-payment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #f9fafe; /* Blu shumë e lehtë si sfond */
  height: 100vh;
  width: 100%;

  h2 {
    font-size: 24px;
    color: #0d47a1; /* Blu i errët për titujt */
    margin-bottom: 20px;
    text-align: center;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .MuiTextField-root {
      font-size: 14px;
      padding: 10px;
    }

    .MuiSelect-root {
      font-size: 14px;
      padding: 10px;
    }

    .MuiInputLabel-root {
      font-size: 14px;
    }

    .button-group {
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    .MuiButton-root {
      font-size: 14px;
      padding: 10px 20px;
      border-radius: 4px;
      text-transform: none;
    }

    .MuiButton-containedPrimary {
      background-color: #65eccb; /* Gjelbër për butonin Save */
      color: white;

      &:hover {
        background-color: #36b88c;
      }
    }

    .MuiButton-outlinedSecondary {
      border-color: #f44336; /* E kuqe për butonin Back */
      color: #f44336;

      &:hover {
        background-color: #fce4ec; /* Ngjyrë e lehtë për hover */
      }
    }
  }
}
